.container {    
    li {
      &:nth-of-type(n+2) {
        margin-left: 8px;
      }
    } 
    a {
      font-size: 18px;
      color: white;
      
    &:focus,
      &:hover {
        color: deeppink;
      }
    }
  }